POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
CODELINKS_PLATFORM_DB_PASSWORD=platform_dev_password
CODELINKS_INFRA_LINK_DB_PASSWORD=infra_dev_password
CODELINKS_PLANER_LINK_DB_PASSWORD=planer_dev_password
CODELINKS_LOKA_LINK_DB_PASSWORD=loka_dev_password
