go 1.26

use (
	./apps/auth-service/backend
	./apps/infra-link/backend
	./apps/loka-link/backend
	./apps/planer-link/backend
	./packages/adminaccess
	./packages/authuser
	./packages/productauth
	./packages/productcatalog
	./packages/productserver
)

replace github.com/besart951/code-links/packages/adminaccess v0.0.0 => ./packages/adminaccess

replace github.com/besart951/code-links/packages/authuser v0.0.0 => ./packages/authuser

replace github.com/besart951/code-links/packages/productcatalog v0.0.0 => ./packages/productcatalog

replace github.com/besart951/code-links/packages/productauth v0.0.0 => ./packages/productauth

replace github.com/besart951/code-links/packages/productserver v0.0.0 => ./packages/productserver
